.form
{
    background-image: $primary-gradient;

    @media #{$tablet}
    {
        padding-bottom: 100px;

        background-image: url('/img/pattern-bottom-mask.svg'), $primary-gradient;
        background-repeat: no-repeat;
        background-position: 50% bottom;
    }

    @media #{$desktop}
    {
        background-position: left bottom;
    }

    &__desc
    {
        padding: 50px 30px;
        @media #{$tablet}
        {
            text-align: center;
        }


        h2
        {
            margin-top: 0;
            margin-bottom: 12px;

            @include TYPE-HeaderH2;
        }

        p
        {
            margin: 0;

            @include TYPE-ParagraphBody;

            @media #{$tablet}
            {
                max-width: 600px;
                margin: 0 auto;
            }

            @media #{$desktop}
            {
                max-width: 800px;
                margin-bottom: 30px;
            }
        }
    }

    form
    {
        position: relative;

        box-sizing: border-box;
        padding: 30px;

        background-color: $color-white;

        @media #{$tablet}
        {
            width: 700px;
            margin: 0 auto;
            padding: 50px;
            padding-bottom: 70px;
        }


        label
        {
            @include TYPE-FormLabel;
        }

        button
        {
            margin-top: 15px;

            @media #{$tablet}
            {
                position: absolute;
                bottom: -22px;
                left: calc(50% - 150px);

                width: 300px;
            }
        }
    }

    &__input
    {
        position: relative;

        input,
        textarea
        {
            box-sizing: border-box;
            width: 100%;
            height: 48px;
            margin: 7px 0;
            padding: 13px;

            transition: border 400ms ease;

            border: 1px solid $color-lightgrey;
            border-radius: 6px;
            outline: none;

            @include TYPE-FormInput;

            &:active,
            &:focus
            {
                border: 1px solid $color-secondary;
            }
        }

        textarea
        {
            height: 160px;

            resize: vertical;
        }

        span
        {
            font-size: 12px;

            position: absolute;
            top: 19px;
            right: 15px;

            display: flex;

            width: 21px;
            height: 21px;

            cursor: pointer;

            color: $color-grey;
            border: 1px $color-grey solid;
            border-radius: 50%;

            justify-content: center;
            align-items: center;


            &:hover
            {
                color: $color-primary;
                border-color: $color-primary;
                .form__hover
                {
                    display: block;
                }
            }
        }
    }

    &__hover
    {
        position: absolute;
        z-index: 100;
        top: 48px;
        right: -16px;

        display: none;

        width: 200px;
        padding: 15px;

        border-radius: 6px;
        background-color: $color-primary;

        @include TYPE-FormInfo;

        &:before
        {
            position: absolute;
            top: -9px;
            right: 17px;

            width: 0;
            height: 0;

            content: '\A';

            border-right: 10px solid transparent;
            border-bottom: 10px solid $color-primary;
            border-left: 10px solid transparent;
        }
    }
}
