@import './type';

body
{
    margin: 0;
    padding: 0;

    color: $color-white;
    background-color: $color-deep-blue;

    font-family: $type-body;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5
{
    font-family: $type-header;
}

button,
.pseudo-button
{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    cursor: pointer;
    text-decoration: none;

    border: 0;
    border-radius: 100px;
    outline: 0;
    background-color: $color-primary;

    @include TYPE-FormButton;

    &:hover
    {
        background-color: $color-secondary;
    }

    @media #{$desktop}
    {
        height: 46px;
    }
}
