.header
{
    padding: 30px;
    padding-bottom: 70px;

    background-image: $primary-gradient;

    @media #{$tablet}
    {
        padding: 75px;

        text-align: center;

        button
        {
            width: 150px;
        }
    }

    .logo
    {
        width: 130px;
        margin-bottom: 20px;

        @media #{$tablet}
        {
            margin: 0 auto;
        }
    }

    h1
    {
        margin-bottom: 5px;

        color: $color-primary;

        @include TYPE-HeaderH1();
    }

    &__tagline
    {
        @include TYPE-ParagraphTagline;
    }

    h3
    {
        margin-top: 45px;
        margin-bottom: 0;

        @include TYPE-HeaderH3;
    }


    &__desc
    {
        @include TYPE-ParagraphBody;
    }
}
