.header
{
    padding: 30px;
    padding-bottom: 70px;

    background-image: $primary-gradient;

    h1
    {
        margin-bottom: 5px;

        color: $color-primary;

        @include TYPE-HeaderH1();
    }

    &__tagline
    {
        @include TYPE-ParagraphTagline;
    }

    h3
    {
        margin-top: 45px;
        margin-bottom: 0;

        @include TYPE-HeaderH3;
    }


    &__desc
    {
        @include TYPE-ParagraphBody;
    }
}
