.header
{
    padding: 30px;
    padding-bottom: 100px;

    background-image: url('/img/pattern-top-mask.svg'), $primary-gradient;
    background-repeat: no-repeat;
    background-position: center top;


    @media #{$tablet}
    {
        padding: 75px;
        padding-bottom: 150px;

        text-align: center;

        button
        {
            width: 150px;
        }
    }

    @media #{$desktop}
    {
        padding-bottom: 230px;

        & > div
        {
            max-width: 800px;
            margin: 0 auto;
        }
    }

    .logo
    {
        width: 220px;
        margin-bottom: 20px;

        img {
          width: 100%;
        }


        @media #{$tablet}
        {
            width: 300px;
            margin: 0 auto;
        }

        @media #{$desktop} {
          width: 320px;
        }
    }

    h1
    {
        margin-bottom: 5px;

        color: $color-primary;

        @include TYPE-HeaderH1();
    }

    &__tagline
    {
        @include TYPE-ParagraphTagline;
        margin-bottom: 30px;
    }

    h3
    {
        margin-top: 45px;
        margin-bottom: 0;

        @include TYPE-HeaderH3;

        @media #{$desktop}
        {
            margin-top: 55px;
        }
    }


    &__desc
    {
        @include TYPE-ParagraphBody;
    }
}
