.stats
{
    position: relative;

    width: 100%;

    background-color: $color-white;

    h2
    {
        position: absolute;
        top: -75px;

        width: 100%;

        text-align: center;

        @include TYPE-HeaderH2;
    }

    &__card
    {
        display: flex;

        height: 210px;

        align-items: center;
        button
        {
            float: left;

            width: 20%;
            height: 100%;

            color: $color-primary;
            background: 0;
        }

        div
        {
            float: left;

            width: 60%;

            text-align: center;
        }

        &_num
        {
            @include TYPE-StatsNum;
        }

        &_desc
        {
            font-size: 14px;
            line-height: 1.33;

            width: 180px;
            margin: 5px;

            color: $color-grey;

            @include TYPE-StatsText;
        }

        &_count
        {
            position: absolute;
            bottom: 20px;
            left: 0;

            width: 100%;

            text-align: center;

            @include TYPE-StatsCount;
        }
    }
}
