.stats
{
    position: relative;

    width: 100%;

    background-color: $color-white;

    h2
    {

        position: absolute;
        top: -70px;

        width: 100%;

        text-align: center;

        @include TYPE-HeaderH2;

        @media #{$tablet}
        {
          top: -100px;
        }
    }
    &__cards {
      height: 250px;
      display: flex;
      justify-content: space-between;


      button
      {
          float: left;

          width: 20%;
          height: 100%;

          color: $color-primary;
          background: 0;
      }

      &_count
      {
          position: absolute;
          bottom: 20px;
          left: 0;

          width: 100%;

          text-align: center;

          @include TYPE-StatsCount;
      }
    }

    &__card
    {
        height: 150px;
        width: 210px;

        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 45px;
        text-align: center;

        display: none;

        &:first-of-type {
          display: flex;
        }

        @media #{$tablet}
        {
          &:nth-child(-n+4) {
            display: flex;
            margin-left: 10px;
            margin-right: 10px;
          }

          &:nth-child(2) {
            border-right: 1px solid $color-lightgrey;
            padding-right: 25px;
          }

          &:nth-child(4) {
            border-left: 1px solid $color-lightgrey;
            padding-left: 25px;
          }
        }


        &_num
        {
            @include TYPE-StatsNum;
        }

        &_desc
        {

            margin: 5px;

            @include TYPE-StatsText;
        }

    }
}
