// Typography

// I. Headers
//    1. h1
//    2. h2
//    3. h3
// II. Paragraph
//    1. Tagline
//    2. Descriptor
//    2. Body
// III. Form
//    1. Label
//    2. Input
//      a. Error
//    3. Info
//    4. Button
// IV. Misc
//    1. Stats
//      a. Num
//      b. Text
//      c. Count
//    2. Projects
//      a. Title
//      b. Author

// I. Headers
//   1. h1
@mixin TYPE-HeaderH1()
{
    font-family: $type-header;
    font-size: 34px;
    font-weight: 800;
    line-height: 38px;

    color: $color-primary;

    @media #{$tablet}
    {
        font-size: 36px;
        line-height: 40px;
    }

    @media #{$desktop}
    {
        font-size: 46px;
        line-height: 56px;
    }
}

//   2. h2
@mixin TYPE-HeaderH2()
{
    font-family: $type-header;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;

    color: $color-primary;

    @media #{$tablet}
    {
        font-size: 42px;
        line-height: 46px;
    }
}

//   3. h3
@mixin TYPE-HeaderH3()
{
    font-family: $type-header;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: $color-white;
}

// II. Paragraph
//   1. Tagline
@mixin TYPE-ParagraphTagline()
{
    font-family: $type-body;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;

    color: $color-white;

    @media #{$tablet}
    {
        font-size: 20px;
        line-height: 30px;
    }
}

//   2. Descriptor
@mixin TYPE-ParagraphDescriptor()
{
    font-family: $type-body;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;

    color: $color-white;


    @media #{$desktop}
    {
        font-size: 22px;
        line-height: 30px;
    }
}

//   3. Body
@mixin TYPE-ParagraphBody()
{
    font-family: $type-body;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;

    color: $color-white;


    @media #{$desktop}
    {
        font-size: 22px;
        line-height: 30px;
    }
}

// III. Form
//    1. Label
@mixin TYPE-FormLabel()
{
    font-family: $type-body;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;

    text-transform: uppercase;

    color: $color-grey;
}

//    2. Input
@mixin TYPE-FormInput()
{
    font-family: $type-body;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;

    color: $color-grey;
}

//      a. Error
@mixin TYPE-FormInput--error()
{
    color: $color-primary;
}

//    3. Info
@mixin TYPE-FormInfo()
{
    font-family: $type-body;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    color: $color-white;
}

//    4. Button
@mixin TYPE-FormButton()
{
    font-family: $type-body;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;

    letter-spacing: .9px;
    text-transform: uppercase;

    color: $color-white;
}

// IV. Misc
//    1. Stats
//      a. Num
@mixin TYPE-StatsNum()
{
    font-family: $type-num;
    font-size: 30px;
    font-weight: 800;
    line-height: 34px;

    color: $color-secondary;

    @media #{$desktop}
    {
        font-size: 50px;
        line-height: 52px;
    }
}

//      b. Text
@mixin TYPE-StatsText()
{
    font-family: $type-body;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    color: $color-grey;

    @media #{$desktop}
    {
        font-size: 18px;
        line-height: 24px;
    }
}

//      c. Count
@mixin TYPE-StatsCount()
{
    font-family: $type-body;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;

    color: $color-lightgrey;
}

// IV. Misc
//    2. Projects
//      a. Title
@mixin TYPE-ProjectsTitle()
{
    font-family: $type-body;
    font-size: 30px;
    font-weight: 300;
    line-height: 38px;

    color: $color-grey;
}

//      b. Author
@mixin TYPE-ProjectsAuthor()
{
    font-family: $type-body;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;

    color: $color-grey;
}
