@import './vars';
@import './globals';

.logo
{
    width: 35%;
    margin-bottom: 20px;
}

.header
{
    padding: 30px;
    padding-bottom: 60px;

    background-image: $primary-gradient;

    h2
    {
        font-size: 36px;
        font-weight: 300;
        line-height: 1.17;

        margin-bottom: 5px;

        color: $color-primary;
    }

    &__tagline
    {
        font-size: 24px;
        line-height: 1.33;
    }

    h4
    {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;

        margin-bottom: 0;

        letter-spacing: 3px;
        text-transform: uppercase;
    }


    &__desc
    {
        font-size: 18px;
        line-height: 1.44;
    }

    &::after {

    }
}

.stats
{
    position: relative;

    width: 100%;

    background-color: $color-white;

    h3
    {
        font-size: 24px;
        font-weight: 300;

        position: absolute;
        top: -75px;

        width: 100%;

        text-align: center;

        color: $color-primary;
    }

    &__card
    {
        display: flex;

        height: 210px;

        align-items: center;
        button
        {
            float: left;

            width: 20%;
            height: 100%;

            color: $color-primary;
            background: 0;
        }

        div
        {
            float: left;

            width: 60%;

            text-align: center;
        }

        &_num
        {
            font-size: 30px;

            color: $color-secondary;
        }

        &_desc
        {
            font-size: 14px;
            line-height: 1.33;

            margin: 5px;

            color: $color-grey;
            width: 180px;
        }

        &_count
        {
            font-size: 14px;

            position: absolute;
            bottom: 20px;
            left: 0;

            width: 100%;

            text-align: center;

            color: $color-bluegrey;
        }
    }
}
